* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

/* onde acontece o jogo */
.game-board {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    border-bottom: 45px solid gray;
    position: relative;
    overflow: hidden;
    /* tudo o que sair do board não aparece na tela*/

    background: linear-gradient(#020024, #1f1365);

}

.start-game {
    width: 50%;
    position: absolute;
    top: 30%;
    left: 25%;
}

.clouds {
    position: absolute;
    width: 500px;
    margin-top: 10px;
    animation: clouds-animation 20s linear infinite;
}

.bugjump {
    position: absolute;
    /* posição absoluta */
    bottom: 0;
    /* posição do Steve, em baixo*/
    width: 180px;
    /* largura do personagem */
}

.jump {
    animation: jump 600ms ease-out;
    /* animação do personagem */
}

.pipe {
    position: absolute;
    /* posição absoluta para não interferir nas outras imagens */
    bottom: 0;
    /* posição do pipe, em baixo */
    width: 150px;
    /* largura do pipe */
    animation: pipe-animation 1.5s infinite linear;
}

.audio {
    position: absolute;
    right: 0;
    margin: auto;
}

/* animação das nuvens */
@keyframes clouds-animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}

/* A animação do Steve pulando */
@keyframes jump {
    0% {
        /* inicio da animação */
        bottom: 0;
    }

    40% {
        /* quando o Steve começa a pular */
        bottom: 180px;
    }

    50% {
        /* meio da animação */
        bottom: 180px;
    }

    60% {
        /* quando o Steve começa a cair  */
        bottom: 180px;
    }

    100% {
        /* fim da animação */
        bottom: 0;
    }
}

/*  A animação do cano */
@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}
#container { display:block; }

@media only screen and (orientation:portrait){
.game-board {
    width: 150%;
    margin: 0 auto;
    height: 80vh;
    border-bottom: 45px solid gray;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#020024, #1f1365);
}
  #container {

   height: 100vw;

   -webkit-transform: rotate(90deg);

   -moz-transform: rotate(90deg);

   -o-transform: rotate(90deg);

   -ms-transform: rotate(90deg);

   transform: rotate(90deg);

  }

}

@media only screen and (orientation:landscape){

  #container {

  -webkit-transform: rotate(0deg);

  -moz-transform: rotate(0deg);

  -o-transform: rotate(0deg);

  -ms-transform: rotate(0deg);

  transform: rotate(0deg);

   }
